body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-in {
	-webkit-animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in .2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 4px; 
  border-radius: 5px; 
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #2765c74c; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3079d94c;
}

::-webkit-scrollbar-track {
  background: #abd2ec4c; 
}

::-webkit-scrollbar-track-piece:start {
  background: transparent; 
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

.scroll-hidden {
  scrollbar-width: none; 
  -webkit-scrollbar-width: none; 
}